
# ================= #
# Project structure #
# ----------------- #
# library files
lib/*
# build artifacts and executables
build
bin

# ================= #
#        VIM        #
# ----------------- #
*.swp
